/* body */
body {
    font-family: var(--fonte-principal);
    color: #333333;
}

.body-style {
    max-width: 1360px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 40px);
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* btn-global */
.btn{
    font-size: 1.25rem;
    width: 161px;
    height: 48px;
    border-radius: 30px;
    font-weight: 500;
    padding: 10px 22px;
    font-weight: 500;
    transition: background-color 0.2s, border 0.2s;
}

.btn:hover, .btn-right:hover {
    background-color: #7c3ead;
    border: #7c3ead;
    color: #ffffff
}