body {
    background-color: #000d;
}

/* Responsividade */
@media (max-width: 1024px) {
    .menu-principal {
        display: none; /* Esconder o menu principal em telas menores */
    }
}

@media (max-width: 768px) {
    header > .container {
        flex-direction: column;
        gap: 20px;
    }

    .menu-secundario {
        flex-direction: column;
        gap: 20px;
    }

    .menu-secundario nav ul {
        justify-content: center;
    }
}