/* header.css */
.header {
    background-color: #ffffff;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 40px);
    border-radius: 15px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
}

.logo img{
    height: 48px;
}

.nav-center ul{
    display: flex;
    gap: 2.5rem;
}

.nav-center a, .nav-right a{
    font-weight: 1,25rem;
}

.nav-center a:hover, .nav-right a:hover{
    color: #7c3ead;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-right ul{
    display: flex;
    gap: 2.5rem;
}

.nav-right img{
    width: 20px;
    height: 20px;
}

.nav-right a:hover img{
    transform: scale(1.1);
}