.hero-section{
    background: url(../img/banner/modelo-principal.jpg) no-repeat center;

    height: 500px;
    position: relative;
    background-size: cover;
    border-radius: 20px;
}

.hero-overlay{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 4rem;
}

.hero-content{
    color: #ffffff;
    max-width: 388px;
    text-align: center;
}

.hero-subtittle {
    font-size: 1.25rem;
    margin: 5.5rem 3.1rem 2.1rem 0;
    font-weight: 400;
}

.hero-title {
    font-size: 1.5rem;
    margin: 0 3.1rem 2.5rem 0;
    font-weight: 400;
    letter-spacing: 3px;
}

.hero-buttons {
    display: flex;
    gap: 16px;
    height: 162px;
}

.btn-left {
    background-color: transparent;
    border: solid 2px #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 21px;
    color: #ffffff;
    width: 162px;
}

.btn-right {
    background-color: #ffffff;
    color: #6329a2;
    border: solid 2px #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}